<footer class="footer">
  <div class="container">
    <nav class="footer__nav">
      <ul class="footer__list">
        <li>
          <a class="footer__link" href="" target="_blank">About</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Download the X app</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Help Centre</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Terms of Service</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Privacy Policy</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Cookie Policy</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Accessibility</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Ads info</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Blog</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Careers</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Brand Resources</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Advertising</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Marketing</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">X for Business</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Developers</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Directory</a>
        </li>
        <li>
          <a class="footer__link" href="" target="_blank">Settings</a>
        </li>
        <li>
          <p class="footer__link non">© 2024 X Corp.</p>
        </li>
      </ul>
    </nav>
  </div>
</footer>