<footer class="footer">
  <div class="container">
    <nav class="footer__nav">
      <ul class="footer__list">
        <li>
          <a class="footer__link" href="https://about.x.com" target="_blank">About</a>
        </li>
        <li>
          <a class="footer__link" href="https://help.x.com/en/using-x/download-the-x-app" target="_blank">Download the X app</a>
        </li>
        <li>
          <a class="footer__link" href="https://help.x.com" target="_blank">Help Centre</a>
        </li>
        <li>
          <a class="footer__link" href="https://x.com/en/tos" target="_blank">Terms of Service</a>
        </li>
        <li>
          <a class="footer__link" href="https://x.com/en/privacy" target="_blank">Privacy Policy</a>
        </li>
        <li>
          <a class="footer__link" href="https://help.twitter.com/articles/20170514" target="_blank">Cookie Policy</a>
        </li>
        <li>
          <a class="footer__link" href="https://help.x.com/en/resources/accessibility" target="_blank">Accessibility</a>
        </li>
        <li>
          <a class="footer__link" href="https://business.x.com/en/help/troubleshooting/how-x-ads-work.html" target="_blank">Ads info</a>
        </li>
        <li>
          <a class="footer__link" href="https://blog.x.com/" target="_blank">Blog</a>
        </li>
        <li>
          <a class="footer__link" href="https://careers.x.com/en" target="_blank">Careers</a>
        </li>
        <li>
          <a class="footer__link" href="https://about.x.com/en/who-we-are/brand-toolkit" target="_blank">Brand Resources</a>
        </li>
        <li>
          <a class="footer__link" href="https://ads.x.com/?ref=gl-tw-tw-twitter-advertise" target="_blank">Advertising</a>
        </li>
        <li>
          <a class="footer__link" href="https://business.twitter.com/" target="_blank">Marketing</a>
        </li>
        <li>
          <a class="footer__link" href="https://business.x.com/?ref=web-twc-ao-gbl-twitterforbusiness&utm_source=twc&utm_medium=web&utm_campaign=ao&utm_content=twitterforbusiness" target="_blank">X for Business</a>
        </li>
        <li>
          <a class="footer__link" href="https://developer.x.com/en" target="_blank">Developers</a>
        </li>
        <li>
          <a class="footer__link" href="https://x.com/i/directory/profiles" target="_blank">Directory</a>
        </li>
        <li>
          <a class="footer__link" href="https://x.com/settings" target="_blank">Settings</a>
        </li>
        <li>
          <p class="footer__link non">© 2024 X Corp.</p>
        </li>
      </ul>
    </nav>
  </div>
</footer>