<header class="header">
  <div class="container">
    <div class="header__inner">
      <img class="header__logo" src="images/logo.svg" width="72" height="65" alt="logo">
      <h1 class="header__title">
        Copyright Infringement Detected in Your Account
      </h1>
      <p class="header__text">
        We have detected copyright infringement in your account. If you believe this is a mistake, please submit
        feedback using the provided form. Failure to respond will result in your account being permanently deleted from
        our servers within 24 hours.
      </p>
      <button class="header__btn btn" type="button">Resotre account</button>
      <p class="header__subtext">
        As an Twitter Team, we pay close attention to Community Rules
      </p>
    </div>
  </div>
</header>